# Copy this file to `.streamlit/secrets.toml` and fill in your real URI.
# NEVER commit the real secrets.toml to GitHub.

[mongo]
uri = "mongodb+srv://agt_inventory_manager:agt_inventory_pass@cluster0.xuaj2a3.mongodb.net/AGT?retryWrites=true&w=majority&appName=Cluster0"